include cjklib/data/*.csv
include cjklib/data/*.sql
include cjklib/*.py
include cjklib/reading/*.py
include cjklib/build/*.py
include cjklib/test/*.py
include cjklib/cjklib.db
include setup.py
include test/*.py
include examples/*.py
include scripts/*.py
include scripts/*.csv
include README
include COPYING
include DEVELOPMENT
include THANKS
include TODO
include changelog
include cjklib.conf
include epydoc_config
include pylintrc
