include cjklib/data/*.csv
include cjklib/data/*.sql
include cjklib/*.py
include cjklib/reading/*.py
include cjklib/dictionary/*.py
include cjklib/build/*.py
include cjklib/test/*.py
include cjklib/cjklib.db
include cjklib/cjklib.conf
include setup.py
include setup.cfg
include cjklibdoc/*.rst
include cjklibdoc/library/*.rst
include cjklibdoc/conf.py
include cjklibdoc/make.bat
include cjklibdoc/Makefile
include cjklibdoc/_build
include cjklibdoc/_templates/*
include cjklibdoc/_static/*
include test/*.py
include test/Makefile
include examples/*.py
include scripts/*.py
include scripts/*.csv
include README
include COPYING
include DEVELOPMENT
include THANKS
include TODO
include NEWS
include changelog
include pylintrc
include characterdb/*
